<div class="about2-top-img">
  <div class="effect-about2-over"></div>
    <div class="container">
      <div class="col-lg-12">
       
      </div>
    </div> 
</div>
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="active">About-2</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container about-pg-2">
    <div class="row">

        <div class="col-md-6">
            <iframe  width="560" height="315" src="https://www.youtube.com/embed/lQJNd1w0-iA?controls=0&showinfo=0"  frameborder="0"  allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h2 class="t-title-office">Welcome to 'Modern Business'</h2>

            <p>This is a great place to introduce your company or project and describe what you do. This about page
                features general company information, employee bios, and other helpful elements.</p>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <!--<div class="row about2-team">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/500x300">

            <h3>About Our Company</h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                     <md-content>
                        <md-button class="md-fab" aria-label="Facebook">
                            <i class="fa fa-facebook"></i>
                            <md-tooltip>
                             Facebook
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social linkedin-link">
                    <md-content>
                        <md-button class="md-fab" aria-label="Linkedin">
                            <i class="fa fa-linkedin"></i>
                            <md-tooltip>
                             Linkedin
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social twitter-link">
                     <md-content>
                        <md-button class="md-fab" aria-label="Twitter">
                            <i class="fa fa-twitter"></i>
                            <md-tooltip>
                             Twitter
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social google-plus-link">
                    <md-content>
                        <md-button class="md-fab" aria-label="Google +">
                            <i class="fa fa-google-plus"></i>
                            <md-tooltip>
                             Google +
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/500x300">

            <h3>Quality Team</h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                     <md-content>
                        <md-button class="md-fab" aria-label="Facebook">
                            <i class="fa fa-facebook"></i>
                            <md-tooltip>
                             Facebook
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social linkedin-link">
                    <md-content>
                        <md-button class="md-fab" aria-label="Linkedin">
                            <i class="fa fa-linkedin"></i>
                            <md-tooltip>
                             Linkedin
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social twitter-link">
                     <md-content>
                        <md-button class="md-fab" aria-label="Twitter">
                            <i class="fa fa-twitter"></i>
                            <md-tooltip>
                             Twitter
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social google-plus-link">
                    <md-content>
                        <md-button class="md-fab" aria-label="Google +">
                            <i class="fa fa-google-plus"></i>
                            <md-tooltip>
                             Google +
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/500x300">

            <h3>Cutsomer Support</h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                     <md-content>
                        <md-button class="md-fab" aria-label="Facebook">
                            <i class="fa fa-facebook"></i>
                            <md-tooltip>
                             Facebook
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social linkedin-link">
                    <md-content>
                        <md-button class="md-fab" aria-label="Linkedin">
                            <i class="fa fa-linkedin"></i>
                            <md-tooltip>
                             Linkedin
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social twitter-link">
                     <md-content>
                        <md-button class="md-fab" aria-label="Twitter">
                            <i class="fa fa-twitter"></i>
                            <md-tooltip>
                             Twitter
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
                <li class="tooltip-social google-plus-link">
                    <md-content>
                        <md-button class="md-fab" aria-label="Google +">
                            <i class="fa fa-google-plus"></i>
                            <md-tooltip>
                             Google +
                            </md-tooltip>
                        </md-button>
                     </md-content>
                </li>
            </ul>
        </div>

    </div>-->

    <div class = "spacer"></div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 class="page-header">Welcome to 'Modern Business'</h2>

            <p>This is a great place to introduce your company or project and describe what you do. This about page
                features general company information, employee bios, and other helpful elements.</p>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 about2-percentage">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LaserPegs" data-widget-id="687671658950356992">Tweets by @LaserPegs</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>

        

    </div>
    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="/-extreme innovator/img/102-5_TheBone.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="/-extreme innovator/img/BIZ941-Logo.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="/-extreme innovator/img/fox-business.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="/-extreme innovator/img/herald_tribune_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="/-extreme innovator/img/News_Channel_8.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="/-extreme innovator/img/Observer_logo.jpg">
        </div>

    </div>

</div>
<!-- /.container -->

<script>
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').animate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>

<!--Small FlexSlider Slider-->

<script type="text/javascript">
    $(document).ready(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: ""

        });
    });
</script>
