
<div class="faq-top-img">
  <div class="effect-over-hand "></div>
  <!--visible animated fadeInUp-->
    <div class="container">
      <div class="col-lg-12">
       <h1><span class="color-txt">About</span></h1>
      </div>
    </div> 
</div>

 <div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="/-extreme%20innovator/#/">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
      </div>
</div>

<div class="container">
    <div class="row last-inf-dt">

        <div class="col-lg-12">
             <h1 class="faq-title">
             We want you to have an easy time while starting to use Angular. <br />We've put together the following steps on your path to becoming an Angular expert.
             </h1>
            <div ng-controller="AccordionDemoCtrl" class="faq-accordion">
              <accordion close-others="true">
                <accordion-group is-open="isopen.first">
                    <accordion-heading>
                        Neque porro quisquam est?
                        <i class="pull-right" ng-class="icon[isopen.first]"></i>
                    </accordion-heading>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </accordion-group>

                <accordion-group is-open="isopen.second">
                    <accordion-heading >
                        Adipisci velit, sed numquam?
                        <i class="pull-right" ng-class="icon[isopen.second]"></i>
                    </accordion-heading>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </accordion-group>
              
              <accordion-group is-open="isopen.three">
                    <accordion-heading >
                        Justo vitaes amet risus amets?
                        <i class="pull-right" ng-class="icon[isopen.three]"></i>
                    </accordion-heading>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of 
                    the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                </accordion-group>

              <accordion-group is-open="isopen.four">
                    <accordion-heading >
                        Neque porro quisquam est?
                        <i class="pull-right" ng-class="icon[isopen.four]"></i>
                    </accordion-heading>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </accordion-group>

                <accordion-group is-open="isopen.five">
                    <accordion-heading >
                        Lorem ipsum dolor sit amet, consectetur?
                        <i class="pull-right" ng-class="icon[isopen.five]"></i>
                    </accordion-heading>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </accordion-group>

                <accordion-group is-open="isopen.six">
                    <accordion-heading >
                        Sed ut perspiciatis unde omnis?
                        <i class="pull-right" ng-class="icon[isopen.six]"></i>
                    </accordion-heading>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </accordion-group>

                <accordion-group is-open="isopen.seven">
                    <accordion-heading >
                        But I must explain to you how?
                        <i class="pull-right" ng-class="icon[isopen.seven]"></i>
                    </accordion-heading>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </accordion-group>
              </accordion>
              
            </div>

        </div>

    </div>

</div>
<!-- /.container -->