
<!-- Slider -->
<div class="container-slide home-panel" ng-mousedown="slider()">

	<!--<header class="codrops-header">
				
		<nav class="codrops-demos" >
            <md-button ng-href="#/" class="current-demo">Internal</md-button>
            <md-button ng-href="#/home2">Lateral</md-button>
            <md-button ng-href="#/home3">Fall</md-button>
		</nav>
	</header>-->
</div>
<div class="top-well" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3>Want you need or find out more?</h3>
                <p class="home2-sub-txt">For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="#">See More Templates!</a>
               
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>

<div class="section home">

    <div class="container">

        <div class="row banner-info">
            <h2>WHAT WE OFFER</h2>
            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-lightbulb"></span></div>
                <div class="col-lg-10 col-md-10"><h3> Speaking</h3>
                <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. 
                Make sure you're up to date with latest Bootstrap documentation... <a href="http://bootswatch.com">Read More</a></p></div>
            </div>
            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-pencil"></span></div>
                <div class="col-lg-10 col-md-10"><h3> About</h3>
                <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free 
                themes over at... <a href="http://bootswatch.com">Read More</a></p></div>
            </div>
            <div class="col-lg-4 col-md-4 home-info-desc">
               <div class="col-lg-2 col-md-2 icn-con"><span class="icon-document"></span></div>
                <div class="col-lg-10 col-md-10"><h3> In the News</h3>
                <p>This template features see on a business website. Pages include: about, contact, portfolio variations, blog, 
                pricing, FAQ, 404, services, and general multi-purpose pages... <a href="http://bootswatch.com">Read More</a></p></div>
            </div>

        </div>

        <!-- /.row -->
        <div class="row banner-info">
            
            <div class="col-lg-4 col-md-4 home-info-desc contact-panel">
                <!--<div class="col-lg-2 col-md-2 contact-icon"><span class="icon-beaker"></span></div>-->
                <div class="col-lg-10 col-md-10 contact-panel-div"><h3> Contact</h3>
                <p>Looking to get in touch? Simply fill out the contact form on our contact page or just <a href="http://localhost/-extreme%20innovator/#/contact/#contact-anchor">click here</a> to get started!</p></div>
            </div>

        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
<!-- sliding divs  -->

<!--<div  class="col col-md-12">--><div data-scrollmagic-pin-spacer="" id="pinContainer" class="scrollmagic-pin-spacer" >
    <section id="bio">
	<div class="slide slide-1" id="slideContainer">
		<div class="contain">
			<div class="row">
				<div class="100vw-box">	
                    <!--<div class="section">-->
                        <div class="container">
                            <div class="row img-shadow effect-5">
                                <div class="col-lg-12 text-center">
                                    <h1 class="section-title">Recent <span>Inventions</span></h1>
                                    <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                                    <div class="img">
                                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                                        <!--<div class="overlay">
                                                <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                                                <a class="close-overlay hidden">x</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                                    <div class="img">
                                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                                        <!--<div class="overlay">
                                                <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                                                <a class="close-overlay hidden">x</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                                    <div class="img">
                                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                                        <!--<div class="overlay">
                                                <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                                                <a class="close-overlay hidden">x</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                                    <div class="img">
                                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                                        <!--<div class="overlay">
                                                <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                                                <a class="close-overlay hidden">x</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                                    <div class="img">
                                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                                        <!--<div class="overlay">
                                                <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                                                <a class="close-overlay hidden">x</a>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                                    <div class="img">
                                        <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                                        <!--<div class="overlay">
                                                <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                                                <a class="close-overlay hidden">x</a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.container -->
                   <!-- </div> /.section -->				
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.contain -->
	</div><!-- /.slide -->

	<div class="slide slide-2" id="slideContainer2" >
		<div class="contain">
			<div class="row">
				<div class="col-md-6">
                    <div class="home3-city-bg">
                        <div class="home3-effect-cover"></div>
                        <div class="home3-well">
                            <div class="container">
                                <div class="row row-footer">
                                    <div class="col-lg-8 col-md-8">
                                        <h1>Consulting</h1>
                                        <img class="" src="/-extreme innovator/img/consulting-main-img.jpg" alt="">
                                    </div>
                                    <div class="col-lg-4 col-md-4 consulting-right-box">
                                        <div class="txt-circle-content first-ic">
                                            <div class="fact-icon"><span class="icon-lightbulb"></span></div>
                                            <div class="txt-circle"><h3>Multi-Purpose Layout</h3>
                                                <p>Quisque tellus risus, adipiscing in viverra et, bibendum eu urna.  </p>
                                            </div>
                                        </div>
                                        <div class="txt-circle-content">
                                            <div class="fact-icon"><span class=" icon-desktop"></span></div>
                                            <div class="txt-circle"><h3>Multi-Purpose Layout</h3>
                                                <p>Quisque tellus risus, adipiscing in viverra et, bibendum eu urna.  </p>
                                            </div>
                                        </div>
                                        <div class="txt-circle-content">
                                            <div class="fact-icon"><span class=" icon-gears"></span></div>
                                            <div class="txt-circle"><h3>Multi-Purpose Layout</h3>
                                                <p>Quisque tellus risus, adipiscing in viverra et, bibendum eu urna.  </p>
                                            </div>
                                        </div>
                                        <div class="txt-circle-content">
                                            <div class="fact-icon"><span class=" icon-linegraph"></span></div>
                                            <div class="txt-circle"><h3>Multi-Purpose Layout</h3>
                                                <p>Quisque tellus risus, adipiscing in viverra et, bibendum eu urna. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container -->
                        </div>
                    </div>
                    <!-- /.section-colored -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.contain -->
	</div><!-- /.slide -->

	<div class="slide slide-3" id="slideContainer3"  >
		<div class="contain">
			<div class="row">
				<div class="col-md-6 content">
					<div class="section-images">
   
                        <div class="container">

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <img src="/-extreme innovator/img/home-slide3-1.jpg" alt="" width ='452px' height = '360px'  />
                                </div>
                                <div class="col-lg-6 col-md-6 slide3-text-box">
                                    <h2>Consumer Product Designer</h2>
                                    <p>
                                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                                    est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                                    </p>
                                    <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque<i class="fa fa-quote-right"></i>
                                    </p>
                                <p>
                                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                                    est et expedit.</p>
                                </div>
                                </div>
                                <div class="row second-boxfriends">
                                <div class="col-lg-6 col-md-6 slide3-text-box">
                                    <h2>Amazing & Powerfull Design</h2>
                                    <p>
                                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                                    est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                                    </p>
                                    <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque<i class="fa fa-quote-right"></i>
                                    </p>
                                <p>
                                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                                    est et expedita.</p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img src="/-extreme innovator/img/home-slide3-2.jpg" alt="" width ='410px' height = '360px' /> <!--580 x 360 -->
                                </div>
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.container -->
                    
                    </div>					
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.contain -->
	</div><!-- /.slide -->

    </section>
</div><!--</div>-->
<script type="text/javascript"> 
    setTimeout(function() { slider(); 
    //alert("slider script has been run! from home.html");
     }, 500);     // load sliding div script after pin container loads, reloads on every visit to home
</script>
<!-- /sliding divs -->

<div class="section-colored text-center">
   <div class="section-ground"></div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="home-middle-parallax">Modern Business: A Clean &amp; Simple Full Website Template</h2>
                <hr />
                <p>A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.</p>
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
  
</div>
<!-- /.section-colored -->

<div id="clients" class="parallax">
    <div class="black-shadow"></div>
    <div class="container">
        <h1 class="section-title">Our <span>Clients</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
        <ul class="clients">
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Diesel"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Google"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Microsoft"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
            <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Sony"><a href="#"><img src="http://placehold.it/560x391" alt=""/></a></li>
        </ul>
     </div>
</div>

<div class="section-images section-images2">
   
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>WHO WE ARE</h2>
                
                <p>Angula The resulting environment is extraordinarily expressive, readable, and quick to develop.</p> 
                <p>cumque nihil impedit quo facilis 
                est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis <a href="#">dolor repellendus.</a> 
                Temporibus autem cum soluta nobis est eligendi quibusdam et aut officiis debitis autem cum soluta nobis est aut optio cumque nihil.
                </p>
                <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                  Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque<i class="fa fa-quote-right"></i>
                </p>
                <p>Angula The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LaserPegs" data-widget-id="687671658950356992">Tweets by @LaserPegs</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
   
</div>
<!-- /.section-colored -->

<div class="city-bg">
    <div class="effect-cover"></div>
      <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">

                    <h4>Modern Business is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
                    <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a class="btn btn-lg btn-primary pull-right" href="#">See More Templates!</a>
               
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        jQuery('.skillbar').each(function () {
            jQuery(this).find('.skillbar-bar').ansection-imagesate({
                width: jQuery(this).attr('data-percent')
            }, 6000);
        });
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<script>
    /**************  Animated images portfolio  ************************/
    $(document).ready(function () {
        $(".img-prt").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        }
        );
    });
</script>
<!-- Script  SlideShow -->
<script>
    new BoxesFx(document.getElementById('boxgallery'));
</script>


  <script>
      $(document).ready(function () {
          var widget = SC.Widget(document.getElementById('soundcloud_widget'));

          $('button').click(function () {
              widget.toggle();
          });
      });
  </script>

  <script type="text/javascript">
      $(".fancybox-effects-d").fancybox({
          padding: 0,

          openEffect: 'elastic',
          openSpeed: 150,

          closeEffect: 'elastic',
          closeSpeed: 150,

          closeClick: true,

          helpers: {
              css: {
                  'background': 'rgba(238,238,238,0.85)'
              },
              overlay: {
                  locked: false
              }
          }
      });
</script>
