﻿
<!-- Slider -->
<div class="container-slide">
    <div id="boxgallery2" class="boxgallery" data-effect="effect-2">
				<div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 1"/></div>
		        <div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 2"/></div>
		        <div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 3"/></div>
		        <div class="panel"><img src="http://placehold.it/1920x1080" alt="Image 4"/></div>	
			</div>
			<header class="codrops-header">
				
				<nav class="codrops-demos">
					<md-button ng-href="#/">Internal</md-button>
                    <md-button ng-href="#/home2" class="current-demo">Lateral</md-button>
                    <md-button ng-href="#/home3">Fall</md-button>
				</nav>
			</header>
</div>
<div class="top-well">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3>Want you need or find out more?</h3>
                <p class="home2-sub-txt">For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="#">See More Templates!</a>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<div class="section wave">
    <div class="container">
        <div class="row banner-info-home2">
            <div class="col-lg-12 col-md-12"><h2>WHAT WE OFFER</h2></div>
            <div class="col-lg-12 col-md-12 home-percentage">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="fact-icon"><span class="icon-lightbulb"></span></div>
					<div class="fact-number" data-perc="630">
						<p class="factor number">630</p>
						<h3 class="light uppercase">Strategy</h3>
					</div><!-- End Factor Area -->
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="fact-icon"><span class=" icon-desktop"></span></div>
					<div class="fact-number" data-perc="250">
						<p class="factor number">250</p>
						<h3 class="light uppercase">Design</h3>
					</div><!-- End Factor Area -->
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="fact-icon"><span class=" icon-gears"></span></div>
					<div class="fact-number" data-perc="320">
						<p class="factor number">320</p>
						<h3 class="light uppercase">Development</h3>
					</div><!-- End Factor Area -->
				</div><!-- End Factor -->
				<div class="col-lg-3 col-md-3 col-sm-3">
					<div class="fact-icon"><span class=" icon-linegraph"></span></div>
					<div class="fact-number" data-perc="840">
						<p class="factor number">840</p>
						<h3 class="light uppercase">Testing</h3>
					</div><!-- End Factor Area -->
				</div><!-- End Factor -->
				<div class="clear"></div>
			</div>

        </div>

        <!-- /.row -->
        
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="city-bg">
    <div class="effect-cover"></div>
      <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h4>Modern Business is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
                    <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a class="btn btn-lg btn-primary pull-right" href="#">See More Templates!</a>
               
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row img-shadow effect-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Recent <span>Work</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450" alt=""/>
                    <div class="overlay">
                            <a href="images/8.jpg" class="expand fancybox-effects-d" data-fancybox-group="button" >+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div id="clients-home2" class="parallax">
    <div class="black-shadow"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 team">
            <h1 class="section-title">Our <span>Team</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x291" alt="" />
                   <div class="mask"></div>
                    <div class="content">
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div> 

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x291" alt="" />
                    <div class="mask"></div>
                    <div class="content">
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x291" alt="" />
                    <div class="mask"></div>
                    <div class="content">
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="team-img view view-second">
	               <img src="http://placehold.it/300x291" alt="" />
                    <div class="mask"></div>
                    <div class="content">
                        <p>A wonderful serenity has taken possession of my entire soul.</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                 </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                                         <i class="fa fa-twitter"></i>
                                 </a>
                            </li>
                        </ul>
                    </div>
                  </div>
                  <p>Mike Cross</p>
                </div>
            </div>
          </div>
     </div>
</div>

<div class="section-images">
   
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>WHO WE ARE</h2>
                <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo facilis 
                est et expedita distinctio minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis <a href="#">dolor repellendus.</a> 
                Temporibus autem cum soluta nobis est eligendi quibusdam et aut officiis debitis autem cum soluta nobis est aut optio cumque nihil.
                </p>
                <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                  Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque<i class="fa fa-quote-right"></i>
                </p>
               
            </div>
            <div id="screenAnimation" class="col-lg-6 col-md-6 device-slide">
                <div class="animation"  data-animation-step="{{customAttributeValue}}">
		            <div class="device">
			            <div class="phone-home-button"></div>
			            <div class="tablet-home-button"></div>
			            <div class="screen-stand"><div class="leg"></div><div class="foot"></div></div>
			            <div class="display">
				            <div class="slide1"><div>Works on <em>desktops</em></div></div>
				            <div class="slide2"><div>Works on <em>tablets</em></div></div>
				            <div class="slide3"><div>Works on <em>phones</em></div></div>
			            </div>
		            </div>
	            </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
   
</div>
<!-- /.section-colored -->

<div id="infoCompany-home2" class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <section class="slider">
                    <div id="slider" class="flexslider .flexslider-attachments">
                        <ul class="slides">
                            <li data-thumb="images/slider/mini-slider/thumb1.jpg"><img src="images/slider/mini-slider/1.jpg" alt=""/></li>
  	    	                <li data-thumb="images/slider/mini-slider/thumb2.jpg"><img src="images/slider/mini-slider/2.jpg" alt=""/></li>
  	    	                <li data-thumb="images/slider/mini-slider/thumb3.jpg"><img src="images/slider/mini-slider/3.jpg" alt=""/></li>
                        </ul>
                    </div>
                 </section>
            </div>
            <div class="col-lg-6 col-md-6 info-comp-desc">
                <h2>What Else? We Have The Best Support Around</h2>
                <p>Angula <span class="txt-inf-tp" data-toggle="tooltip" data-placement="top" data-original-title="You web your image!">loaded with useful</span>, functional options that allow users to quickly and easily create stunning websites</p>
                <ul>
                    <li><i class="angula-li-ic fa fa-star"></i>Fully responsive so your content will always look good on any screen size</li>
                    <li><i class="angula-li-ic fa fa-star"></i>Awesome sliders give you the opportunity to showcase your content</li>
                    <li><i class="angula-li-ic fa fa-star"></i>Advanced theme options panel to easily customize your website</li>
                </ul>
                 <div class="content-bt-buy"><a class="btn btn-lg btn-primary" href="#">Buy Angula Now!</a></div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="home2-city-bg">
    
      <div class="well">
        <div class="container">
            <div class="row row-box">
                <div class="col-lg-8 col-md-8">
                    <h4>Modern Business is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
                    <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a class="btn btn-lg btn-primary pull-right" href="#">See More Templates!</a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script type="text/javascript">
    /**************  Animated images portfolio  ************************/
    $(document).ready(function () {
        $(".img-prt").hover(function () {
                $(this).addClass("hover");
            }, function () {
                $(this).removeClass("hover");
            }
        ); 
    });
</script>

<!--  COUNTER -->
<script type="text/javascript">
(function($) {
     "use strict";
    $(".fact-number").appear(function() {
        $('.fact-number').each(function() {
            var dataperc = $(this).attr('data-perc');
                $(this).find('.factor').delay(6000).countTo({
                    from: 50,
                    to: dataperc,
                    speed: 3000,
                    refreshInterval: 50

                });
        });
    });
})(jQuery);


(function($) {
     "use strict";
    $.fn.countTo = function(options) {
        // merge the default plugin settings with the custom options
        options = $.extend({}, $.fn.countTo.defaults, options || {});

        // how many times to update the value, and how much to increment the value on each update
        var loops = Math.ceil(options.speed / options.refreshInterval),
            increment = (options.to - options.from) / loops;

        return $(this).each(function() {
            var _this = this,
                loopCount = 0,
                value = options.from,
                interval = setInterval(updateTimer, options.refreshInterval);

            function updateTimer() {
                value += increment;
                loopCount++;
                $(_this).html(value.toFixed(options.decimals));

                if (typeof(options.onUpdate) == 'function') {
                    options.onUpdate.call(_this, value);
                }

                if (loopCount >= loops) {
                    clearInterval(interval);
                    value = options.to;

                    if (typeof(options.onComplete) == 'function') {
                        options.onComplete.call(_this, value);
                    }
                }
            }
        });
    };

    $.fn.countTo.defaults = {
        from: 0,  // the number the element should start at
        to: 100,  // the number the element should end at
        speed: 3000,  // how long it should take to count between the target numbers
        refreshInterval: 100,  // how often the element should be updated
        decimals: 0,  // the number of decimal places to show
        onUpdate: null,  // callback method for every time the element is updated,
        onComplete: null,  // callback method for when the element finishes updating
    };
})(jQuery);
</script>

<!-- Script  SlideShow -->
<script type="text/javascript">
    new BoxesFx(document.getElementById('boxgallery2'));
</script>

<!--Small FlexSlider Slider-->

<script type="text/javascript">
    $(document).ready(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
                
            });
    });
</script>
<script type="text/javascript">
    $(".fancybox-effects-d").fancybox({
        padding: 0,

        openEffect: 'elastic',
        openSpeed: 150,

        closeEffect: 'elastic',
        closeSpeed: 150,

        closeClick: true,

        helpers: {
            css: {
                'background': 'rgba(238,238,238,0.85)'
            },
            overlay: {
                locked: false
            }
        }
    });


</script>