<!-- Page Content -->
<div class="services-top-img" >
  <div class="effect-over"></div>
    <div class="container">
      <div class="col-lg-12" >
       <!--<h1 class="about4-top-title">To get significant <span class="color-txt">results</span>,</h1>
       <h1 class="about4-top-title about4-top-second">you need a <span class="color-txt">clear </span>vision.</h1>
       <div class="buy-angula"><a class="btn btn-lg btn-primary" href="#">Purchase now! </a></div>-->
      </div>
    </div> 
</div>

 <div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="/-extreme%20innovator/#/">Home</a>
                    </li>
                    <li class="active">Speaking</li>
                </ol>
            </div>
        </div>
      </div>
</div>
    <!-- /.row -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive img-people-s" src="http://placehold.it/1000x300" alt=""/>
        </div>
    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->
    <div class="row">
      <div class="services-box col-md-6 active">
            <div class="img"><img src="http://placehold.it/450x450" alt="" class="img_size1"></div>
            <div class="text">
              <h4 class="white">UI/Ux Design</h4>
              <div class="line"></div>
              <p class="grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
            </div>
        </div>
        <div class="services-box col-md-6">
            <div class="img"><img src="http://placehold.it/450x450" alt="" class="img_size1"></div>
            <div class="text">
              <h4 class="white">Photography</h4>
              <div class="line"></div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Our Premium Services</h2>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="col-md-4">
            <h2 class="page-header">Something More</h2>
            <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips
                amets.</p>
            <a class="btn btn-primary" href="#">Click Me!</a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
          <div ng-controller="TabsDemoCtrl" class="services-tabs">
           <tabset justified="true">
            <tab>
              <tab-heading class="tabs-nm">
                <i class="fa fa-cog"></i> Strategy
              </tab-heading>
              <div class="info-tabs clearfix">
                  <div class="servtabs-img"><img src="http://placehold.it/250x130" alt="" /></div>
                  <div class="servtabs-txt">
                      <h3>Saepe eveniet ut et autem</h3>
                      <p>Wurpis venenatis at laoreet consectetur, adipisci velit, sed quia non numquam minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
                      Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et 
                      molestiae non recusandae. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
                  </div> 
              </div>
            </tab>
            <tab>
              <tab-heading class="tabs-nm">
                <i class="fa fa-desktop"></i> Digital
              </tab-heading>
              <div class="info-tabs clearfix">
              <div class="servtabs-img"><img src="http://placehold.it/250x130" alt="" /></div>
                  <div class="servtabs-txt">
                      <h3>Digital event root source</h3>
                      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
                         Temporibus autem quibusdam et aut officiis debitis aut rerum </p>
                  </div>
              </div>
            </tab>
            <tab>
              <tab-heading class="tabs-nm">
                <i class="fa fa-keyboard-o"></i> Development
              </tab-heading>
              <div class="info-tabs clearfix">
              <div class="servtabs-img"><img src="http://placehold.it/250x130" alt="" /></div>
                  <div class="servtabs-txt">
                      <h3>Saepe eveniet ut et autem</h3>
                      <p>Lorem ipsum libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
                         Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et 
                         molestiae non recusandae.</p>
                </div> 
              </div>
            </tab>
          </tabset>
          </div>
           
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row last-inf-dt">

        <div class="col-lg-12">
            <h2 class="page-header">Service Images</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <div class="services-box-black">
                <h3>Service One</h3>

                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                    nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-primary pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <div class="services-box-black">
                <h3>Service Two</h3>

                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                    nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-primary pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <div class="services-box-black">
                <h3>Service Three</h3>

                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                    nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-primary pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
