<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>Extreme Innovator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ANGULA">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>

    

    <!-- Our Website CSS Styles -->
    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/slide/component.css" rel="stylesheet" type="text/css" />
    <!-- Mini Slider -->
    <!-- Carouse Testimonial-->
    <link href="css/owl_carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/owl_carousel/owl.theme.css" rel="stylesheet" type="text/css" />
    <!-- End Carouse Testimonial-->
    <link href="css/minislide/flexslider.css" rel="stylesheet" type="text/css" />

    <!-- End Mini Slider -->
    <link href="css/gallery.css" rel="stylesheet" type="text/css" />
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

    <link href="css/component_black.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="angula">
<div ng-controller="ExampleController">

<!-- Only for Preview -->
<div class="content-lateral-box">
    <div class="box-lateral">  
      <!--<h3>Change Header</h3>     
      <select  ng-model="template" disabled="disabled">
        
      </select> -->
     <h3>Change Footer</h3>     
      <select  ng-model="template" ng-options="t.name for t in templates">
        
      </select>
    </div>
    <a id="btnlateral">Toggle</a>
</div>
<!-- End -->

<!-- Our Website Content Goes Here -->
<div ng-include='"templates/header.html"'></div>

<!--<div class="wrapper">-->

    <div ng-view autoscroll="true"></div>
<!--</div>-->


<div ng-include="template.url"></div><!--templates/footer_4.html--></div>
<!-- Vendor: Javascripts -->

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<script src="js/modernizr.js" type="text/javascript"></script>
<script src="js/jquery.appear.js" type="text/javascript"></script>

<!--slide-->
<script src="js/slide/modernizr.custom.js" type="text/javascript"></script>
<script src="js/slide/classie.js"></script>
<script src="js/slide/boxesFx.js"></script>

<!--Mini Flexslide-->
<script src="js/minislide/jquery.flexslider.js" type="text/javascript"></script>

<script src="js/minislide/shCore.js" type="text/javascript"></script>
<script src="js/minislide/shBrushXml.js" type="text/javascript"></script>
<script src="js/minislide/shBrushJScript.js" type="text/javascript"></script>
<!--Carousel Testimonial-->
<script src="js/owl_carousel/owl.carousel.js" type="text/javascript"></script>
<!--Porfolio-->
<script src="js/gallery/jquery.fancybox.js" type="text/javascript"></script>
<script src="js/gallery/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>

<!--soundCloud-->
<script src="http://w.soundcloud.com/player/api.js"></script>

<!-- Vendor: Angular, followed by our custom Javascripts -->
<script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>


<!--Shopping Store-->
<script src="js/main.js"></script>
<script src="js/store.js" type="text/javascript"></script>
<script src="js/cart.js" type="text/javascript"></script>
<!-- Our Website Javascripts -->

<script src="js/controller.js" type="text/javascript"></script>

<script>
    $("#btnlateral").click(function () {
        $(".box-lateral").animate({width: 'toggle' }); ;
    })
</script>
<!-- my scripts -->
    <script src="scripts/jquery-2.1.4.js"></script>
    <script src="scripts/jquery.gsap.js"></script>
    <script src="scripts/TweenMax.js"></script>
    <script src="scripts/ScrollMagic.js" type="text/javascript"></script>
    <script src="scripts/jquery.ScrollMagic.js" type="text/javascript"></script>
    <script src="scripts/TweenLite.js"></script>
    <script src="scripts/animation.gsap.js"></script>
    <script src="scripts/CSSPlugin.js"></script>
    <script src="scripts/debug.addIndicators.js" type="text/javascript"></script>
    <script src="scripts/main_slide.js" type="text/javascript"></script>
    <script src="js/homecontroller.js" type="text/javascript"></script>
</body>
</html>