<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/"><img src="images/logo3.jpg" alt="logo" /></a>
        </div>
        <!--<div class="content-count-cart-header dropdown" ng-controller="storeController">
                    <a href="" title="go to shopping cart" class="dropdown-toggle" data-toggle="dropdown" ng-disabled="cart.getTotalCount() < 1">
                        <i class="fa fa-shopping-cart"></i>
                        <p class="number-prod-cart">{{cart.getTotalCount()}}</p> 
                    </a>
                      <div class="dropdown-menu vertical-li dropdown-prod-cart">
                          <ul>
                           <li ng-repeat="item in cart.items | orderBy:'name'">
                            <div class="col-md-12 minitotal-prod">
                                 <div class="col-md-6 minicart-img" ng-show='item.src != null'> 
                                    <img src="images/store/{{item.src}}" alt="{{item.name}}" />
                                 </div>
                                 
                                 <div class="col-md-6 minicart-data"><p class="mc-name">{{item.name}}</p>
                                  <p>{{item.quantity}} X {{item.price | currency}}</p>
                                 </div>
                            </div>
                           </li>
                          </ul>
                          <div class="separator"></div>
                          <div id="cartInfo"><p class="minucart-price">Subtotal {{cart.getTotalPrice() | currency}}</p></div>
                          <a href="#/cart" id="goToCheckOut">Proceed to purchase</a>
                    </div> 
            </div>-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse  scroll-menu">
  
            <div class="social-icons tooltip-social">
                <a href=""><img class="header-twitter" src="/-extreme innovator/img/twitter_2.png" alt="Twitter" height="40px"; width="40px";></a>
                <a href=""><img class="header-facebook" src="/-extreme innovator/img/fb2.png" alt="FaceBook" height="40px"; width="40px";></a>
                <a href=""><img class="header-linkedin" src="/-extreme innovator/img/LinkedinIcon2.png" alt="Linked-In" height="40px"; width="40px";></a>
                <a href=""><img class="header-instagram" src="/-extreme innovator/img/instagram-icon-transparent-heart2.png" alt="Instagram" height="40px"; width="40px";></a>
            </div>  
        <script type="text/javascript">
         
             $('a#create').on('click', function (e){
                setTimeout(function() {// alert("script RUN via click function");
                    var controller = new ScrollMagic.Controller();
                    var wipeAnimation = new TimelineMax()
            // animate to next panel
			.to("#slideContainer1", 1, {x: "0%"})		
			.to("#slideContainer2", 1,   {x: "5%"})	
			.to("#slideContainer3", 1, {x: "100%"})				
			// animate to next panel
			.to("#slideContainer1", 1, {x: "0%"})		
			.to("#slideContainer2", 1,   {x: "4%"})	
			.to("#slideContainer3", 1, {x: "100%"})				
			// animate to next panel
			.to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "3%"})
			.to("#slideContainer3", 1, {x: "75%"})
			// animate to next panel
			.to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "2%"})
			.to("#slideContainer3", 1, {x: "70%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "1%"})
			.to("#slideContainer3", 1, {x: "55%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "0%"}) //20
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-20%"}) //20
             // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-30%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-40%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-50%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-60%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-70%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-80%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-90%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-100%"})
            // animate to next panel
            .to("#slideContainer1", 1, {x: "0%"})
			.to("#slideContainer2", 1,   {x: "0%"})
			.to("#slideContainer3", 1, {x: "-100%"})

            
            

		// create scene to pin and link animation
	       	new ScrollMagic.Scene({
				triggerElement: "#pinContainer", 
				triggerHook: .07, //.07
				duration: "3000" // was 4000, now 3000
			})
			.setPin("#pinContainer")
			.setTween(wipeAnimation)
            .addIndicators()
			.addTo(controller); 
            }
            , 600);
            });
        </script>  
        <script type="text/javascript"> 
          $('a#destroy').on('click', function(){
                  controller.destroy(); // destroy controller and set all viariables to null 
                  controller = 0;
                  scene = 0;
                  tween = 0;
                  pin   = 0;
                 // alert('controller destroyed via click function');
            }); 
         </script>            
            <ul class="nav navbar-nav navbar-right">
                <li ><a id='create' href="#/">Home </a>
                </li>
                <li><a id='destroy' href="#/services">Speaking</a>
                </li>
                <li><a id='destroy' href="#/faq">About</a>
                </li>
                <li><a id='destroy' href="#/about2" >In The News </a>     
                </li>
                <li><a id='destroy' href="#/contact">Contact</a>
                </li>
                
            </ul>

        </div>
        
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
